p {
    font-family: Poppins;
    /*font-weight: 900;*/
}
.mainbody {
    margin: 3%;
    background-color: aquamarine;
 }

 .cont {
    background-color: #F0F0F0;
    border-radius: 3%;
    margin: 1%;
    padding: 1%;
 }

 .namebox {
    min-width: 124px;
    min-height: 124px;
}

.languagelist {
    display: flex;
}

.jobLine {
    display: flex;
    justify-content: space-between;
}

.languagelevel {
    display:grid;
    grid-row: auto;
    /*justify-content: ;*/
}

.experience{
    width: 411px ;
}

.mostRecent {
    margin: 1%;
    padding: 1%;
    border-radius: 8px;
    align-items: flex-start;
    display: grid;
    grid-row: auto;
    background-color: #28D979;
    color: white;
    font-weight: unset;
}

.jobEntry {
    margin: 1%;
    padding: 1%;
    border-radius: 8px;
    align-items: flex-start;
    display: grid;
    grid-row: auto;
    background-color: white;
    color: black;
}

.mostRecentText {
    border-radius: 59px;
    padding-top: 0.3%;
    padding-bottom: 0.3%;
    padding: 1%;
    background-color: #7E731266;
    color:#DDF163;
    font-weight: bold;
}
.timeline {
    display: flex;
    justify-content: space-between;
}

.tagName {
    display: flex;
    background-color: black;
    color: white;
    border-radius: 59px;
    /*font-size: 5px;*/
    align-items: center;
    justify-content: center;
}

.instrumentBlock {
    justify-content: space-evenly;
    gap: 16px;
    display: grid;
    grid-row: auto;
    grid-template-columns: auto auto;
}

.educationgrid {
    display: grid;
    grid-template-columns: auto auto;
    grid-row: auto;
    gap: 16px;
}

body {
    font-family: 'Poppins', sans-serif;
}

.profilePicture {
    width: 124px;
    height: 124px;
    padding: 35px;
    border-radius: 20%;
}


section {
    display: flex;
    justify-content: flex-start;
}

img {
    object-fit: contain;
}
